* {
  font-size: 62.5%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f6e9e9;
  border-radius: 3px;
  margin-bottom: 2%;
}
section.firstsec {
  background-image: url("../img/comp.jpg");
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
}
section.secsection {
  padding: 2%;
}
h3 {
  padding-left: 4%;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
.black {
  color: black;
}
h1 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 5rem;
  padding-left: 4%;
}
h2 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 2.5rem;
  padding-left: 4%;
}
p {
  color: #F29188;
  font-size: 1.6rem;
  padding-left: 4%;
  font-family: 'Raleway', sans-serif;
}
button {
  margin-left: 4%;
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-radius: 3px;
}
button:hover {
  background: black;
  text-shadow: red;
  color: white;
  border-radius: 20px;
}
body {
  background: #b0d9d5;
  margin: 2% auto;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.609);
  font-size: 1.2rem;
}
.eye {
  width: 100%;
  border-radius: 61px;
}
.fr1 img {
  width: 90%;
  border-radius: 10px;
}
.fr2 img {
  width: 90%;
  border-radius: 10px;
}
.fr3 img {
  width: 90%;
  border-radius: 10px;
}
.fr4 img {
  width: 90%;
  border-radius: 10px;
}
.fr5 img {
  width: 90%;
  border-radius: 10px;
}
.fr6 img {
  width: 90%;
  border-radius: 10px;
}
.fr7 img {
  width: 90%;
  border-radius: 10px;
}
.fr8 img {
  width: 90%;
  border-radius: 10px;
}
.teamsec {
  display: flex;
  margin: 2%;
}
h4 {
  text-align: center;
}
.centerh1 {
  text-align: center;
}
section.teamsec {
  text-align: center;
}
.clr {
  color: black;
  font-family: 'Lexend Deca', sans-serif;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}
.hero {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
@media (max-width:500px) {
  .hero-content {
    margin: 2% auto;
    padding: 5%;
  }
}
.hero-title {
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
.hero-button {
  background-color: #b0d9d5;
  color: black;
  border: 1px solid #5ab6ce;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.225rem;
  font-weight: 200;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .hero-button {
    padding: 2rem 4rem;
    margin-top: 4rem;
  }
}
@media (min-width: 500px) {
  .hero-button {
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
  }
}
.hero-button:hover {
  background-color: #5ab6ce;
  border: 1px solid #3291AA;
}
.feat {
  color: black;
}
@media (max-width: 500px) {
  .feat {
    text-align: center;
  }
}
.points {
  color: black;
}
@media (max-width: 500px) {
  .points {
    text-align: center;
  }
}
.pointst {
  color: black;
}
.bottomimg {
  width: 88%;
  height: 100%;
  margin-top: 2%;
  border-radius: 20px;
}
.parag {
  display: flex;
}
@media (max-width: 900px) {
  .parag {
    flex-direction: column;
    text-align: center;
  }
}
.body2 {
  background: black;
}
