
*{
  font-size: 62.5%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f6e9e9;
  border-radius: 3px;
  margin-bottom: 2%;
}

section.firstsec {
  background-image: url("../img/comp.jpg");
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
}
section.secsection {
  padding: 2%;
}
h3 {
  padding-left: 4%;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
.black {
  color: black;
}

h1 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 5rem;
  padding-left: 4%;
}
h2 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 2.5rem;
  padding-left: 4%;
}
p {
  color: rgb(222, 184, 135);
  font-size: 1.6rem;
  padding-left: 4%;
  font-family: 'Lexend Deca', sans-serif;
  text-shadow: 1px 1px;
}
button {
  margin-left: 4%;
  padding: .5% 1.5% .5% 1.5%;
  border-radius: 3px;
}

button:hover {
background: black;
text-shadow: red;
color: white;
border-radius: 20px;

}
body {
  background: rgb(222,184,135);
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.609);
  font-size: 1.2rem;
}
.eye {
  width: 100%;
  border-radius: 61px;
}

.fr1 img {
  width: 90%;
  border-radius: 10px;

}

.fr2 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr3 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr4 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr5 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr6 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr7 img {
  width: 90%;
  border-radius: 10px;
  
}
.fr8 img {
  width: 90%;
  border-radius: 10px;
  
}
.teamsec {
  display: flex;
  margin: 2%;
}
h4 {
  text-align: center;
}
.centerh1 {
  text-align: center;
}
section.teamsec {
  text-align: center;
}

.clr {
  color: black;
  font-family: 'Lexend Deca', sans-serif;
}

